* {
    margin: 0px;
    padding: 0px;
    font-family: 'Josefin Slab', serif;

}

/* .about-cont{
    width: 100%;
    height: 100Vh;
    background-color:#0a1930;
    color: #ffff;
} 
.about-me{
    text-align: center;
    position: relative;
    top: 50px;
    font-size: 50px;
    font-weight: 500;
}
.my-img{
    position: relative;
    top: 100px;
    left: 200px;
    height: 60vh; 
    border-color:  #0a1930;; 
}
.about-data-cont{
    display: flex;
}
.about-data{
    position: relative;
    top: 100px;
    left: 500px;
}
.hi-text{
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    font-weight: 200;
}
.my-name-text{
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: 200;
}
.about-detail-text{
    margin-top: 50px;
    font-size: 25px;
    font-weight: 200;
}
.resume-btn{
    margin-top: 50px;
    font-size: 20px;
    font-weight: 200;
    background-color: #2099d2;
    color: #ffff;
    border-radius: 5px;
    border: 1px solid #2099d2;
    padding: 5px;
    cursor: pointer;

}
.resume-btn:hover{
    
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;
  
    border: 1px solid  #2099d2;
} */





.about-cont {
    display: flex;
    width: 100%;
    height: 100Vh;
    background-color: #101010;
   
    color: #ffff;
}

.fixed-about-cont{
    height: 100vh;
    width: 20%;
    background-color: #202020;
    text-align: center;
}

.image-cont img {
    height: 180px;
    widows: 180px;
    border-radius: 50%;
    margin-top: 40%;
    border: 5px solid #FEBE10;

}

.fixed-about-cont h1 {
    font-size: 35px;
    font-weight: 500;
    margin-top: 20px;
}

.fixed-about-cont h3 {
    font-size: 20px;
    font-weight: 200;
    margin-top: 5px;
}

.about-btn-cont {
    margin-top: 20px;
}

.about-btn-cont button {
    margin: 10px;
    width: 80%;
    height: 50px;
    border-radius: 5rem;
    outline: none;
    border: none;
    color: #ffff;
    background-color: #404040;
    font-size: 20px;
    cursor: pointer;
}
.about-btn-cont button:hover{
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;
}